body
{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("Images/college.jpg") no-repeat;
    background-size:100%;    
}
.box
{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type = "text"],.box input[type = "password"]
{
    border : 0;
    background = None;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(37, 3, 3);
    padding : 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    font-weight: 800;
    font-size: 12px;
    letter-spacing : 1.2px;
    border-radius : 24px;
    transition : 0.25px; 
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
    width: 270px;
    border-color: red;
}
.box input[type="submit"]
{
    border : 0;
    background : white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(37, 3, 3);
    padding : 14px 20px;
    outline: none;
    color: black;
    border-radius: 15px;
    transition: 0.25px; 
    cursor: pointer;
    transition: 0.3s;
    font-weight: 800;
}
.box input[type = "submit"]:hover
{
    transform: scale(1.2);
}